<template name="rainierFooter">
  <footer class="rainier-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <h3 class="rainier-footer-header"><strong>Need Help?</strong></h3>
          <p><a href="#">Contact Us</a></p>
          <p><a href="#">How to shop on Reaction</a></p>
          <p><a href="#">Shipping and Delivery</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3 class="rainier-footer-header"><strong>Make Money</strong></h3>
          <p><a href="#">Sell products on Reaction</a></p>
          <p><a href="#">Become a sales consultant</a></p>
          <p><a href="#">Advertise on Reaction</a></p>
        </div>
        <div class="col-md-3 col-sm-6">
          <h3 class="rainier-footer-header"><strong>Pages</strong></h3>
          <p><a href="#">About Us</a></p>
          <p><a href="#">FAQ</a></p>
          <p><a href="#">We&apos;re hiring</a></p>
          <p><a href="#">Terms&amp;Conditions</a></p>
        </div>
        <div class="col-md-3 col-sm-12">
          <h3 class="rainier-footer-header"><strong>Payment</strong></h3>
          <img src="resources/payment/rc-visa.png" alt="payment-provider" class="payment-icon">
          <img src="resources/payment/rc-mastercard.png" alt="payment-provider" class="payment-icon">
          <img src="resources/payment/rc-verve.png" alt="payment-provider" class="payment-icon">
          <img src="resources/payment/rc-quickteller.png" alt="payment-provider" class="payment-icon">
        </div>
      </div>
    </div>
  </footer>
</template>
